name: Playwright Tests (Docker)

on:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t playwright-tests .

      - name: Run tests inside Docker
        run: |
          docker run --rm \
            -v ${{ github.workspace }}/playwright-report:/app/playwright-report \
            playwright-tests
      - name: Generate timestamp
        id: timestamp
        run: echo "pw_filename=playwright-report-$(date +'%Y-%m-%d_%H-%M-%S')" >> $GITHUB_OUTPUT

      - name: Rename report folder with timestamp
        run: mv playwright-report "${{ steps.timestamp.outputs.pw_filename }}"
        
      - name: Upload report for GitHub Pages
        uses: actions/upload-pages-artifact@v3
        if: always()
        with:
          path: "${{ steps.timestamp.outputs.pw_filename }}"

  deploy:
    needs: test
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}

    steps:
      - name: Download artifact
        uses: actions/download-pages-artifact@v3

      - name: Deploy to GitHub Pages
        id: deploy
        uses: actions/deploy-pages@v4
